<div class="row no-gutter">
    @for(int i = 1; i <=6; i++)
    {
        <div class="col-xs-6 col-md-4" align="center" valign="center">
            <a href="#" class="portfolio-box">
            <img src=@string.Format("/images/portfolio/{0}.jpg", i) class="img-responsive" style="width:200px;height:250px;"/>
            </a>
          

        </div>

    }
</div>